<h1><%= profile_title %> Page</h1>

<% if flash[:success] %>
  <p class="flash-success"><%= flash[:success] %></p>
<% elsif flash[:failure] %>
  <p class="flash-failure">Error: <%= flash[:failure] %></p>
<% end %>

<% unless your_page? %>
  <% if already_following? %>
    <p>You are already following <%= @user.username %>.</p>
  <% elsif follow_pending? %>
    <p>Your follow request to <%= @user.username %> is pending.</p>
  <% else %>
    <%= button_to "Follow request", requests_path(request: { receiver_id: @user.id, type: "FollowRequest" }) %>
  <% end %>
<% else %>
  <h2>Follow Requests</h2>
  <% if @follow_requests.any? %>
    <ul>
      <% @follow_requests.each do |request| %>
        <li>
          <%= request.sender.username %>
          <%= button_to "Accept", accept_request_path(request), method: :post %>
          <%= button_to "Reject", reject_request_path(request), method: :post %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No pending follow requests.</p>
  <% end %>
<% end %>

<% if @user_posts.any? %>
  <h2>Posts</h2>

  <ul>
    <% @user_posts.each do |post| %>
      <li>
        <h3><%= link_to post.title, post %></h3>
        <p><%= truncate(post.text, length: 100) %></p>
      </li>
    <% end %>
  </ul>
<% end %>