<h1><%= profile_title(@user) %> Page</h1>

<% if flash[:success] %>
  <p class="flash-success"><%= flash[:success] %></p>
<% elsif flash[:failure] %>
  <p class="flash-failure">Error: <%= flash[:failure] %></p>
<% end %>

<% unless your_page?(@user) %>
  <%= button_to "Follow request", requests_path(request: { receiver_id: @user.id, type: "FollowRequest" }) %>
<% end %>

<% if @user_posts.any? %>
  <h2>Posts</h2>

  <ul>
    <% @user_posts.each do |post| %>
      <li>
        <h3><%= link_to post.title, post %></h3>
        <p><%= truncate(post.text, length: 100) %></p>
      </li>
    <% end %>
  </ul>
<% end %>