<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<h1><%= @post.title %></h1>
<p><%= @post.text %></p>

<% if is_author? %>
  <p>By: You</p>
<% else%>
  <p>By: <%= link_to @post.author.username, @post.author %></p>
<% end %>

<%= render "shared/likes/count", likeable: @post %>
<%= render "shared/likes/button", likeable: @post %>

<hr>

<%= render "shared/comments/comments", comments: @post.comments %>